/* Estilo base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a.active {
    font-weight: bold;
}

.dark-mode {
    background-color: #333;
    color: white;
}

footer {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

footer .contacto form input, footer .contacto form textarea {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

footer .contacto form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

footer .contacto form button:hover {
    background-color: #555;
}

footer .redes-sociales a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

footer .redes-sociales a:hover {
    text-decoration: underline;
}

.bienvenida, .sobre-mi, .video-referente, .habilidades, .portfolio-proyectos, .formulario {
    padding: 20px;
}

.habilidad {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Animación para las tiles */
.habilidad {
    transition: transform 0.3s;
}

.habilidad:hover {
    transform: scale(1.05);
}
