:root {
    --fondo-claro: #ffffff;
    --texto-claro: #000000;
    --fondo-oscuro: #121212;
    --texto-oscuro: #ffffff;
    --destacado: #007BFF;
    --menu-hover: #0056b3;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: var(--fondo-claro);
    color: var(--texto-claro);
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: var(--fondo-oscuro);
    color: var(--texto-oscuro);
}


header {
    background-color: var(--destacado);
    color: var(--fondo-claro);
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
}


nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: var(--menu-hover);
    padding: 10px 20px;
    border-radius: 5px;
}

nav a.active {
    background-color: var(--destacado);
    font-weight: bold;
}

nav a:hover {
    background-color: #003366;
}


button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--destacado);
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}



footer {
    background-color: #333;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

footer form {
    flex: 1;
    min-width: 300px;
}

footer form label,
footer form input,
footer form textarea {
    display: block;
    margin-bottom: 10px;
}

footer form input, footer form textarea {
    padding: 10px;
    width: 100%;
}

footer form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

footer form button:hover {
    background-color: #555;
}

footer .social {
    flex: 1;
    text-align: center;
}

footer .redes-sociales a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

footer .redes-sociales a:hover {
    text-decoration: underline;
}

.tile, .habilidad {
    display: inline-block;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.tile:hover, .habilidad:hover {
    transform: scale(1.1);
}

main {padding: 20px;

}